<html class="no-js">

<head>
    <!-- <meta charset="utf-8"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlowNote</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- <link rel="icon" type="image/png" href="assets/i/favicon.png"> -->
    <!-- <link rel="stylesheet" href="css/element.css"> -->
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="css/codemirror.css">
    <link rel="stylesheet" href="css/semantic.min.css">
    <style>
        .ui.visible.left.sidebar~.fixed,
        .ui.visible.left.sidebar~.pusher {
            transform: none!important;
            padding-left: 260px;
        }

        #app {
            display: flex;
        }

        .sidebar {
            width: 180px!important;
        }

        .pusher {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-left: 180px!important;
        }

        .note-menu {
            display: flex!important;
            height: 64px;
            width: 100%;
            margin-bottom: 0!important;
        }

        .note-menu-name {
            width: 270px;
        }

        .note-menu-comment {
            flex: 1!important;
        }

        .note-menu-button {
            width: 190px;
        }

        .note-main {
            display: flex;
            /*flex-direction: column;*/
            flex: 1;
        }

        #diagram {
            flex: 6;
            overflow: scroll;
        }

        .CodeMirror {
            flex: 4;
            min-width: 400px;
            height: 100%;
        }

        @media screen and (max-width:1100px) {
            .sidebar {
                width: 180px!important;
            }
            .pusher {
                padding-left: 180px!important;
            }
            .note-main {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
            #diagram {
                flex: 6;
                overflow: scroll;
            }
            .CodeMirror {
                flex: 4;
                min-height: : 400px;
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div id="app" class="ui bottom attached pushable">
        <div class="ui visible inverted left vertical sidebar menu">
            <a class="item" @click="addFlow()">
                <i class="plus icon"></i> FlowNote
            </a>
            <a class="item" v-for="item in flows" @click="loadFlow(item.id)">
                <h4 class="ui header inverted">{{item.name}}</h4> {{item.comment}}
            </a>
        </div>
        <div class="pusher">
            <div class="ui menu note-menu">
                <div class="item note-menu-name">
                    <div class="ui labeled input">
                        <div class="ui basic label">
                            Name
                        </div>
                        <input type="text" placeholder="flow's name" v-model="load.name">
                    </div>
                </div>
                <div class="item note-menu-comment">
                    <div class="ui labeled fluid input">
                        <div class="ui basic label">
                            Comment
                        </div>
                        <input type="text" placeholder="flow's comment" v-model="load.comment">
                    </div>
                </div>
                <div class="right item note-menu-button">
                    <div class="ui buttons">
                        <div class="ui red button" @click='deleteFlow(load.id)'>Delete</div>
                        <div class="or"></div>
                        <div class="ui positive button" @click='saveFlow()'>Save</div>
                    </div>
                </div>
            </div>
            <div class="ui basic note-main">
                <div id="diagram"></div>
                <codemirror v-model="load.flowchart"></codemirror>
            </div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="js/codemirror.js"></script>
    <script src="js/raphael.js"></script>
    <script src="js/flowchart.js"></script>
    <script>
        var note = new Vue({
            el: '#app',
            data: {
                load: {},
                flows: []
            },
            mounted: function() {
                $('.ui.dropdown').dropdown();
                this.loadData();
                this.load = this.flows[0];
                var parseText = this.load.flowchart;
                this.draw(parseText);
            },
            updated: function() {
                try {
                    document.getElementById('diagram').innerHTML = '';
                    var parseText = this.load.flowchart;
                    this.draw(parseText);
                } catch (err) {
                    document.getElementById('diagram').innerHTML = 'error';
                }
            },
            methods: {
                draw: function(flowText) {
                    var diagram = flowchart.parse(flowText);
                    diagram.drawSVG('diagram');
                },
                addFlow: function() {
                    var date = new Date();
                    var time = date.toString();
                    var id = date.getTime();
                    var flowList = this.flows;
                    for (var i = 0; i < flowList.length; i++) {
                        if (flowList[i].name === name) {
                            break;
                        }
                    }
                    this.flows.unshift({
                        id: id,
                        name: 'new flowchart',
                        comment: '',
                        createTime: time,
                        updateTime: time,
                        flowchart: 'st=>start: Start:>http://www.google.com[blank]\n' +
                            'e=>end:>http://www.google.com\n' +
                            'op1=>operation: My Operation\n' +
                            'sub1=>subroutine: My Subroutine\n' +
                            'cond=>condition: Yes\n' +
                            'or No?:>http://www.google.com\n' +
                            'io=>inputoutput: catch something...\n' +
                            'st->op1->cond\n' +
                            'cond(yes)->io->e\n' +
                            'cond(no)->sub1(right)->op1\n'
                    });
                    this.loadFlow(id);
                    console.info('add Flow Success');
                },
                saveFlow: function() {
                    console.info('save Success');
                    this.saveData();
                },
                deleteFlow: function(id) {
                    var flowList = this.flows;
                    for (var i = 0; i < flowList.length; i++) {
                        if (flowList[i].id === id) {
                            this.flows.splice(i,1);
                            this.load = this.flows[i];
                            this.saveData();
                            break;
                        }
                    }
                    console.info('delete Success');
                },
                loadFlow: function(id) {
                    var flowList = this.flows;
                    for (var i = 0; i < flowList.length; i++) {
                        if (flowList[i].id === id) {
                            this.load = flowList[i];
                            break;
                        }
                    }
                },
                saveData: function () {
                    localStorage.flowNote = JSON.stringify(this.flows);
                },
                loadData:function () {
                    if(localStorage.flowNote === undefined){
                        this.addFlow();
                    }else{
                        this.flows = JSON.parse(localStorage.flowNote);
                    }
                }
            },
            components: {
                'codemirror': {
                    template: '<textarea></textarea>',
                    data: function() {
                        return {
                            content: ''
                        }
                    },
                    props: {
                        code: String,
                        value: String,
                        options: {
                            type: Object,
                            default: function() {
                                return {
                                    styleActiveLine: true,
                                    lineNumbers: true,
                                    lineWrapping: true
                                }
                            }
                        }
                    },
                    ready: function() {
                        var _this = this
                        this.editor = CodeMirror.fromTextArea(this.$el, this.options)
                        this.editor.setValue(this.code || this.value || this.content)
                        this.editor.on('change', function(cm) {
                            _this.content = cm.getValue()
                            _this.value = cm.getValue()
                            _this.code = cm.getValue()
                        })
                    },
                    mounted: function() {
                        var _this = this
                        this.editor = CodeMirror.fromTextArea(this.$el, this.options)
                        this.editor.setValue(this.code || this.value || this.content)
                        this.editor.on('change', function(cm) {
                            _this.content = cm.getValue()
                            if (!!_this.$emit) {
                                _this.$emit('changed', _this.content)
                                _this.$emit('input', _this.content)
                            }
                        })
                    },
                    watch: {
                        'code': function(newVal, oldVal) {
                            const editor_value = this.editor.getValue()
                            if (newVal !== editor_value) {
                                let scrollInfo = this.editor.getScrollInfo()
                                this.editor.setValue(newVal)
                                this.content = newVal
                                this.editor.scrollTo(scrollInfo.left, scrollInfo.top)
                            }
                        },
                        'value': function(newVal, oldVal) {
                            const editor_value = this.editor.getValue()
                            if (newVal !== editor_value) {
                                let scrollInfo = this.editor.getScrollInfo()
                                this.editor.setValue(newVal)
                                this.content = newVal
                                this.editor.scrollTo(scrollInfo.left, scrollInfo.top)
                            }
                        }
                    }
                }
            }
        })
    </script>
</body>

</html>
